body
{
    margin: 0px;
}

#navigation
{
    display: grid;
    width: 100%;
    height: 60px;
    background-color: #133163;
    color: #ffffff;
    border-bottom: 8px solid #fdbc19;
    grid-template-columns: 1fr 1fr 1fr 150px 150px 150px 2fr 150px 1fr;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
}

#logo
{
    grid-column: 2;
}

#home
{
    grid-column: 4;
}

#courses
{
    grid-column: 5;
}

#aboutUs
{
    grid-column: 6;
}

#login
{
    grid-column: 8;
}

.navButton:hover
{
    text-decoration: underline;
    background-color: #0f264c;
    cursor: pointer;
}

#slider
{
    background-image: url(./slider.jpg);
    width: 100%;
    background-size: 100% auto;
    padding-top: 25%;
    background-position-y: -90px;
    border-bottom: 8px solid #fdbc19;
}

#main
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 100px;
    text-align: center;
    color: white;
    border-bottom: 8px solid #fdbc19;
}

#firstLang
{
    grid-column: 2;
    grid-row: 2;
    background-image: url(https://i.redd.it/b3esnz5ra34y.jpg);
    font-size: 60px;
}

#secondLang
{
    grid-column: 4;
    grid-row: 2;
    background-image: url(https://i.redd.it/b3esnz5ra34y.jpg);
    font-size: 50px;
}

#thirdLang
{
    grid-column: 6;
    grid-row: 2;
    background-image: url(https://i.redd.it/b3esnz5ra34y.jpg);
    font-size: 60px;
}

#whiteSpace
{
    width: 100%;
    height: 90px;
}

.language
{  
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    line-height: 200px;
    background-size: cover;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Cinzel', serif;
    font-weight: 700;
}

.language:hover 
{
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.article_grid
{
    display: grid;
    grid-template-columns: 20px 60% 20px;
    grid-template-rows: 1fr 1fr;
    height: 300px;
    width: 60%;
    margin: auto;
    justify-content: center;
}

#articleOne
{
    grid-column: 2;
    grid-row: 1/3;
    text-transform: uppercase;
    padding: 10px;
    background-color: #e6f0ff;
    box-shadow: 30px 30px 30px;
}

#articleTwo
{
    grid-column: 2;
    grid-row: 1/3;
    text-transform: uppercase;
    padding: 10px;
    background-color: #e6f0ff;
    box-shadow: 30px 30px 30px;
}

#articleThree
{
    grid-column: 2;
    grid-row: 1/3;
    text-transform: uppercase;
    padding: 10px;
    background-color: #e6f0ff;
    box-shadow: 30px 30px 30px;
}

#firstColorLeft
{
    grid-column: 1;
    grid-row: 1;
    background-color: #0f264c;
}

#secondColorLeft
{
    grid-column: 1;
    grid-row: 2;
    background-color: #fdbc19;
}

#firstColorRight
{
    grid-column: 3;
    grid-row: 1;
    background-color: #fdbc19;
}

#secondColorRight
{
    grid-column: 3;
    grid-row: 2;
    background-color: #0f264c;
}




#js_grid
{
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100%;
    font-family: Verdana,sans-serif;
}

#sidebar
{
    grid-column: 1;
    text-align: center;
    background-color: #e6f0ff;
}

#js_main
{
    grid-column: 2;
}

.sidebarButton
{
    padding-bottom: 2px;
    padding-top: 2px;
}








#footer
{
    width: 100%;
    height: 50px;
    background-color: #133163;
    color: #ffffff;
}