html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
  background-image: url(./resources/geralt.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #010206;
  background-position: top center;
}

#nav_grid {
  display: grid;
  grid-template-columns: 280px 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100px;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.2)
}

#nav_grid a {
  background: #864040;
  color: #fff;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  text-decoration: none;
  text-align: center;
  width: 150px;
}

#nav_grid a:hover {
  background: #6b2a2a;
  transition: all 0.3s ease-in-out;
}

#nav_logo {
  grid-column: 1;
  grid-row: 1;
}

#nav_right {
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
}

#nav_left {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
}



#master_grid {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 200px 1fr;
  width: 80%;
  margin: auto;
  margin-top: 350px;
  background: #161616;
  border: 1px solid #2e2e2e;
  padding: 7px;
  position: relative;
}

#top {
  grid-column: 1/3;
  grid-row: 1;
  color: white;
}

#main {
  grid-column: 1;
  grid-row: 2;
  min-height: 800px;
  color: white;
  padding-right: 3px;
}

#right {
  grid-column: 2;
  grid-row: 2;
}

/* BEGIN #top style */

#nav_forum_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
}

#nav_forum_grid a {
  background: #864040;
  color: #fff;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  text-decoration: none;
  text-align: center;
  width: 150px;
}

#nav_forum_grid a:hover {
  background: #6b2a2a;
  transition: all 0.3s ease-in-out;
}

/* END #top style */

/* BEGIN #main style */
#forum_character_img {
  background-image: url("./resources/forum_character.jpg");
  background-position-x: -30px;
}
.roundstyle1 {
  background-color: #242a49;
  border: 5px solid #242a49;
  border-radius: 100px;
  box-shadow: #000 2px 2px 1px;
  height: 114px;
  padding: 5px;
  width: 110px;
  background-size: cover;
}

.category_head {
  font-size: 30px;
  background-color: #7A177A;
  color: #9d9a8c;
  font-size: 18px;
  font-weight: 300;
  padding: 15px;
  box-shadow: inset rgba(0,0,0,0.25) 0 0 0 1px;
}
.category_body {
  box-shadow: inset rgba(0,0,0,0.25) 0 0 0 1px;
  background-color: #1b1b1b;
  color: #9d9a8c;
  padding: 5px;
}

.forum_modern_grid {
  display: grid;
  grid-template-columns: 60px 5fr 5fr 1fr 1fr 2fr;
  padding: 5px;
}

  .forum_modern_subgrid2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .forum_modern_subgrid3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

.forum_classic_grid {
  display: grid;
  grid-template-columns: 60px 4fr 6fr 1fr 1fr 2fr;
}

/* END #main style */

/* BEGIN #right style */
.right_head {
  font-size: 30px;
  background-color: #7A177A;
  color: #9d9a8c;
  font-size: 18px;
  font-weight: 300;
  padding: 15px;
  box-shadow: inset rgba(0,0,0,0.25) 0 0 0 1px;
}
.right_body {
  box-shadow: inset rgba(0,0,0,0.25) 0 0 0 1px;
  background-color: #1b1b1b;
}

/* END #right style */

#form_login {
  width: 40%;
  margin: auto;
  text-align: center;
}

#register_container {
  background-image: url(./resources/ciri.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

#register_h1 {
  padding: 20px;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  color: #FFF!important;
  font-size: 24px;
  text-align: center;
}





#register_body {
  position: relative;
  width: 500px;
  margin: auto;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.80);
  box-shadow: 0 0 3px 1px #212d28;
}

#register_form {
  width: 80%;
  margin: auto;
  text-align: center;
  letter-spacing: 0.0625em;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  color: #bcbcbc;
  font-size: 12px;
}

#register_form a { color: #f6a70c; text-decoration: none; }
#username_icon { background-image: url(./resources/username.png); }
#password_icon { background-image: url(./resources/shield.png); }
#email_icon { background-image: url(./resources/post.png); }

.register_grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
  position: relative;
  border-width: 0px;
  border-bottom: 1px solid #7e633b;
  border-radius: 0px 0px 0px 4px;
  padding-top: 36px;
  height: 32px;
  text-align: left;
}
  .register_grid_icon {
    grid-column: 1;
    grid-row: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eee;
    border-right: 1px solid #ccc;
    padding: 1px;
    text-align: center;
    width: 50px;
    height: 30px;
    border-radius: 4px 0px 0px 4px;
  }

  .register_grid_label {
    grid-column: 2;
    grid-row: 1;
    display: block;
    background: transparent;
    z-index: 1;
    padding-left: 9px;
    text-align: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #c4b998;
    transition: transform .3s ease-in-out, font-size .3s;
  }

  .register_grid_input { 
    grid-column: 2;
    grid-row: 1;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: #fff0;
    border-width: 0px;
    color: #c4b998;
    font-weight: 400;
    z-index: 2;
    position: relative;
    outline: none; 
  }

  .register_grid_error {
    grid-column: 1/3;
    grid-row: 2;
    padding-top: 3px;
    color: #be1e37;
  }

.register_normalbox {
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 0.0625em;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  color: #bcbcbc;
  font-size: 12px;
  text-align: left;
}

.register_form_button {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #f6a70c;
  padding: 6px 12px;
  height: 32px;
  line-height: 18px;
  font-family: 'Cinzel', serif;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #b47907;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #f6a70c 0, #be8007 100%);
  background-image: -webkit-linear-gradient(top, #f6a70c 0, #be8007 100%);
}

.register_hr {
  border-color: #444;
}

.register_block {
  display: block;
  padding: 10px;
  letter-spacing: 0.0625em;
  line-height: 1.625;
}










#footer {
  height: 200px;
}