<main>
    <img id="sadFaceImg"
        src="https://cdn.statically.io/img/c1.wallpaperflare.com/preview/883/131/712/smiley-sorry-excuse-me-sad.jpg"
        alt="sad face" />
    <h1>401</h1>
    <h2>Unauthorized</h2>
</main>
