<%- include("../layout/header.ejs"); -%>

    <main>
        <img src="./static/images/sadFace.png" alt="sad-face" class="sad-face">
		    <h1 class="not-found">500 - Something Happened</h1>
    </main>

<%- include("../layout/footer.ejs"); -%>